.masthead_article__texts {
    font-size: 18px;
    line-height: 22px;
    color: hsl(0, 1%, 57%);
}

.sect_moreInfo__intro--texts,
.sect_report__articles--quotes,
.sect_moreInfo__articlestexts {
    font-size: 18px;
    line-height: 22px;
    color: hsl(0, 1%, 57%);
}