.footer_nav {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    .footer_nav__container {
        display: flex;
        flex-direction: column;
        li {
            padding-top: 20px;
            a {
                color: #ffffff;
                white-space: nowrap;
            }
        }
    }
}

@media(min-width:1114px) {
    .footer_nav {
        gap: 100px;
    }
}