.footer_icons {
    padding-top: 20px;
    padding-bottom: 20px;
    .footer_icons__container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        li {
            a {
                span {
                    display: none;
                }
                svg {
                    fill: #fff;
                }
                svg:hover {
                    fill: hsl(12, 88%, 59%);
                    transition: fill .5s;
                }
            }
        }
    }
}

@media(min-width: 1114px) {
    .footer_icons__container {
        display: flex;
        flex-direction: column;
        gap: 86px;
        order: -1;
        padding: 0;
    }
}