.footer_navigation {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: center;
    .footer_nav__container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 40px;
        li {
            padding-top: 20px;
            a {
                color: #ffffff;
                white-space: nowrap;
            }
            a:hover {
                color: hsl(12, 100%, 51%);
                transition: .5s;
            }
        }
    }
}

@media(min-width:1114px) {
    .footer_nav {
        gap: 100px;
    }
}