.footer_icons {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-top: 20px;
    .footer_logo__container {
        text-align: center;
    }
    .footer_icons__container {
        display: flex;
        justify-content: center;
        gap: 40px;
        li {
            a {
                span {
                    display: none;
                }
                svg {
                    fill: #fff;
                }
                svg:hover {
                    fill: hsl(12, 88%, 59%);
                    transition: fill .5s;
                }
            }
        }
    }
}

@media(min-width: 1114px) {
    .footer_icons {
        gap: 60px;
        .footer_icons__container {
            display: flex;
            flex-direction: row;
            gap: 30 px;
            order: 1;
            padding: 0;
        }
        .footer_logo__container {
            text-align: start;
            order: -1;
        }
    }
}