.masthead_container {
    .masthead__img__item {
        width: 100%;
    }
    .masthead_article__texts {
        padding-bottom: 20px;
    }
}

@media(min-width:1114px) {
    .masthead_container {
        display: flex;
        flex-direction: row-reverse;
        gap: 100px;
        padding-top: 100px;
        .masthead_article__container {
            width: 546px;
        }
        .button_get_started {
            display: inline-block;
        }
        .button_start_container {
            text-align: start;
        }
        .masthead_article__texts {
            padding-bottom: 40px;
        }
    }
}