.section_report__container {
    .button_start_container {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .sect_report__title {
        margin: 0;
        padding-top: 50px;
        padding-bottom: 100px;
    }
    .sect_report__articles--mainContainer {
        // max-width: 375px;
        .sect_report__articles--item {
            position: relative;
        }
        div.sect_report__articles--item:not(:nth-of-type(1)) {
            display: none;
        }
        .sect_report__articles--textContainer {
            background-color: hsl(0, 0%, 98%);
            padding: 20px;
            .sect_report__articles--quotes {
                text-align: center;
            }
            .sect_report__articles--author {
                padding-top: 30px;
                text-align: center;
            }
        }
        .sect_report__articles--imgContainer {
            text-align: center;
            img {
                width: 73px;
                position: absolute;
                top: -14%;
                left: 41%;
            }
        }
    }
}

@media(min-width: 1114px) {
    .section_report__container {
        .sect_report__articles--mainContainer {
            max-width: none;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            gap: 30px;
            div.sect_report__articles--item:not(:nth-of-type(1)) {
                display: block;
            }
        }
        // .button_start_container {
        //     padding-top: 20px;
        //     padding-bottom: 20px;
        // }
    }
}