.section_advertisement {
    background-color: hsl(12, 88%, 59%);
    .section_advertisement__container {
        padding-top: 100px;
        padding-bottom: 100px;
        h2 {
            color: white;
            text-align: center;
        }
        .button_get_started {
            color: hsl(12, 88%, 59%);
            background-color: #ffffff;
            white-space: nowrap;
        }
    }
}

@media(min-width: 980px) {
    .section_advertisement {
        .section_advertisement__container {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: baseline;
            gap: 250px;
            padding: 0;
            h2 {
                text-align: start;
            }
        }
    }
}