.section_moreInfo__container {
    padding-top: 50px;
    .sect_moreInfo__intro--texts {
        text-align: center;
    }
    .sect_moreInfo__articles--item {
        padding-top: 40px;
    }
    .sect_moreInfo__articles--title {
        display: flex;
        flex-direction: row;
        align-items: baseline;
        background-color: hsl(13, 100%, 96%);
        border-radius: 67px;
        h4 {
            margin: 0;
            padding-left: 20px;
            white-space: nowrap;
            width: 100%;
        }
        span {
            background-color: hsl(12, 88%, 59%);
            padding: 5px 20px;
            border-radius: 67px;
            color: #ffffff;
            font-weight: bold;
        }
    }
}

@media (min-width: 1114px) {
    .section_moreInfo__container {
        display: flex;
        flex-direction: row;
        gap: 100px;
        .sect_moreInfo__intro--container {
            width: 1892px;
            .sect_moreInfo__intro--title {
                text-align: start;
            }
            .sect_moreInfo__intro--texts {
                text-align: start;
            }
        }
        .sect_moreInfo__articles--title {
            background: none;
        }
        .sect_moreInfo__articles--container {
            .sect_moreInfo__articlestexts {
                padding-left: 80px;
            }
        }
    }
}