@font-face {
    font-family: 'Vietnam';
    font-weight: normal;
    font-style: normal;
    src: url(../webfonts/vietnam.woff2) format('woff2'), url(../webfonts/vietnam.woff) format('woff');
}

@font-face {
    font-family: 'Vietnam Bold';
    font-weight: bold;
    font-style: normal;
    src: url(../webfonts/vietnam_bold.woff2) format('woff2'), url(../webfonts/vietnam_bold.woff) format('woff2');
}

@font-face {
    font-family: 'Vietnam Medium';
    font-weight: 500;
    font-style: normal;
    src: url(../webfonts/be_vietnam_md.woff2) format('woff2'), url(../webfonts/be_vietnam_md.woff) format('woff2');
}