@font-face {
    font-family: 'Be Vietnam';
    font-weight: normal;
    font-style: normal;
    src: url(../fonts/be_vietnam.woff2) format(woff2), url(../fonts/be_vietnam.woff) format(woff);
}

@font-face {
    font-family: 'Be Vietnam Bold';
    font-weight: bold;
    font-style: normal;
    src: url(../fonts/bevietnam-bold.woff2) format(woff2), url(../fonts/bevietnam-bold.woff) format(woff2);
}